.st0 {
  fill: #4F5D73;
}

.st1 {
  opacity: 0.2;
}

.st2 {
  fill: #231F20;
}

.st3 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st4 {
  fill: none;
  stroke: #C75C5C;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}